@font-face {
  font-family: "MaxiRoundEdu";
  src: url("ABCMaxiRoundEdu-Regular.woff") format("woff");
}

* {
	margin:  2px;
	padding:  0px;
	box-sizing: border-box;
}

/* adjusting fonts */

body {
	font-family: 'MaxiRoundEdu', Helvetica, sans-serif;
	transition: background 500ms ease;
	background-color: #fff3a1
}

p, li {
	font-size:  18px;
	line-height: 27px;
}

/* adjusting spacing */

#left-column {
	padding: 20px;
}

h1, p {
	margin-bottom:  17px;
}

h3 {
	font-size: 25px;
	margin-bottom:  21px;
}


ul, ol {
	margin-left: 20px;
}

img {
	height:  750px;
	top: 182px;
	left: 8px;
	position: fixed;
	z-index:-5;
}
a {
	text-decoration: none;
          color: #31E813;
}

a:hover {
	color: white;
}

/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/